<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>reveal.js - The HTML Presentation Framework</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Jean Detoeuf">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/reveal-override.css">
		<link rel="stylesheet" href="css/theme/default.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = 'css/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="reveal">
			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h1>Présentation AngularJS</h1>
					<h3>Jean Detoeuf</h3>
					<img class="no-shadow" src="img/opengroupe.gif">
				</section>
				<section>
					<h1>Sommaire</h1>
					<ul>
						<li class="fragment">Introduction et besoin</li>
						<li class="fragment">Utilisation basique d'AngularJS</li>
						<li class="fragment">Tests unitaires</li>
						<li class="fragment">Composants d'AngularJS</li>
						<li class="fragment">Création de composants</li>
					</ul>
				</section>
				<section data-background="#C2ED77">
					<h1>Jean Detoeuf</h1>
					<ul>
						<li class="fragment">Ingénieur concepteur/développeur</li>
						<li class="fragment">Passionné de Java, Spring, Web, Javascript</li>
						<li class="fragment">Plein de choses <strong>hype</strong> comme le growth hacking, nodeJS, la programmation reactive, fonctionnelle, le continuous delivery, sauter dans le vide et les choses qui vont vite</li>
						<li class="fragment">La bière, le voyages, le roller, courir</li>
						<li class="fragment">Et les nouvelles technos en général</li>
					</ul>
				</section>
				<section  data-background="#779AED">
					<h1>Sondage</h1>
					<ul>
						<li class="fragment">A déjà utilisé un framework JavaScript ?</li>
						<li class="fragment">Déjà entendu parler d'AngularJS ?</li>
						<li class="fragment">A déjà utilisé AngularJS ?</li>
						<li class="fragment">Est à l'aise avec AngularJS ?</li>
					</ul>
					<aside class="notes">Demander de lever la main.  Si oui à la dernière, demander à partir !</aside>
				</section>
				<section>
					<h1>Intro</h1>
				</section>
				<section>
					<h2>Besoin</h2>
					<ul>
						<li class="fragment">Fonctionnement standard client/serveur avant 2005 : serveur produit une page, le client en fait le rendu</li>
						<li class="fragment">2005 : Arrivée d'AJAX</li>
						<li class="fragment">Des "bouts" de page peuvent être affichés à la demande : il n'est pas nécessaire de recharger une page à chaque action</li>
						<li class="fragment">Aucune intelligence réelle côté client</li>
					</ul>
				</section>
				<section>
					<h2>Evolution des interfaces web</h2>
					<img class="no-shadow" src="img/evolUI.png"/>
				</section>
				<section>
					<h2>Pourquoi on n'avait pas fait comme ça avant ?</h2>
					<ul>
						<li class="fragment">JavaScript existe depuis longtemps</li>
						<li class="fragment">L'évolution de la puissance des terminaux (PC, mobile) permet d'effectuer de placer de l'intelligence côté client.</li>
						<li class="fragment">Les moteurs JavaScript se sont améliorés à partir de 2008 (merci AJAX).</li>
						<li class="fragment">Même les mobiles peuvent tirer parti de cette amélioration</li>
					</ul>
					<aside class="notes">Notes</aside>
				</section>
				<section>
					<img class="no-shadow" src="img/AngularJS-large.png" alt="AngularJS">
					<ul>
						<li class="fragment">Framework JS développé par Google</li>
						<li class="fragment">Première version 2009</li>
						<li class="fragment">Fondé sur la programmation déclarative</li>
						<li class="fragment">Architecture MVC ou plutôt MVVM</li>
						<li class="fragment">Injection de dépendance</li>
					</ul>
				</section>
				<section>
					<h2>Points forts</h2>
					<ul>
						<li class="fragment">Open Source</li>
						<li class="fragment">Maintenu par Google</li>
						<li class="fragment">Injection de dépendance <small>(Je vais être <u>très</u> lourd sur ce point)</small></li>
						<li class="fragment">Couplage faible entre présentation, données, composants métier</li>
						<li class="fragment">Tests unitaires et bout en bout</li>
						<li class="fragment">Compatible REST</li>
						<li class="fragment">Compatible WebSockets</li>
					</ul>
				</section>
				<section>
					<h2>Points faibles</h2>
					<ul>
						<li class="fragment">Encore en évolution</li>
						<li class="fragment">Ne fonctionne pas sur IE6, et adaptations à faire pour IE7 et IE8</li>
						<li class="fragment">La gestion des fichiers peut vite devenir cahotique si on ne la maitrise pas.</li>
						<li class="fragment">Validation à implémenter côté client</li>
						<li class="fragment">Possibilité d'être remplacé un jour par DartJS</li>
					</ul>
				</section>
				<section>
					<h2>Concurrents</h2>
					<ul>
						<li class="fragment"><a href="http://backbonejs.org/">Backbone.js</a></li>
						<li class="fragment"><a href="http://emberjs.com/">Ember.js</a></li>
						<li class="fragment"><a href="http://knockoutjs.com/">Knockout.js</a></li>
						<li class="fragment">Plusieurs frameworks qui gèrent le rendu HTML, les feuilles de style, voir même le Back Office</li>
						<li class="fragment">JQuery n'est pas un concurrent, il est complémentaire</li>
						<li class="fragment">La force d'AngularJS est de ne pas tout faire, de se concentrer sur le MVVM</li>
					</ul>
				</section>
				<section>
					<h2>Pourquoi AngularJS plutôt qu'un autre framework JavaScript ?</h2>
					<h5>(Moi j'adore le jQuery, ça marche très bien...)</h5>
				</section>
				<section>
					<h2>Concurrents</h2>
					<img class="no-shadow" src="img/googleTrends.png"/>
					<img class="no-shadow" src="img/googleTrendsLegend.png"/>
				</section>
				<section>
					<h1>Utilisation d'AngularJS</h1>
					<h2>Bases</h2>
				</section>
				<section>
					<h2>Installation</h2>
					<ul>
						<li>Aller sur <a href="http://angularjs.org">angularjs.org</a></li>
						<li class="fragment">Télécharger la dernière version et l'inclure dans sa page web</li>
						<li class="fragment"><strong>Ou</strong> tiliser le CDN Google pour l'inclure dans sa page web</li>
					</ul>
					<pre class="fragment"><code contenteditable style="font-size: 18px; margin-top: 20px;">&lt;html ng-app="myApp"&gt;
&lt;head&gt;
  &lt;script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
					</section>
					<section>
						<h2>Evaluations</h2>
						<ul>
							<li>Une évaluation permet d'afficher une valeur</li>
							<li class="fragment">Exemple : {{1+1}} affiche 2</li>
						</ul>
						<pre class="fragment"><code contenteditable style="font-size: 18px; margin-top: 20px;">&lt;html ng-app="myApp"&gt;
&lt;head&gt;
  &lt;script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"&gt;&lt;/script&gt;
  &lt;script type="text/javascript"&gt;
  var myApp = angular.module('myApp', []);
  myApp.controller('MyCtrl', function MyCtrl($scope) {});
  &lt;/script&gt;
&lt;/head&gt;
&lt;body ng-controller="MyCtrl"&gt;
  Réponse : {{ 7 * 6 }}
&lt;/body&gt;
&lt;/html&gt;</code></pre>
							<p class="fragment"><a href="demos/demo1/index.html" target="_blank">Démonstration</a></p>
						</section>
						<section>
							<h2>Controlleur</h2>
							<ul>
								<li>Conteneur permettant de gérer des variables</li>
								<li class="fragment">En JavaScript, des variables peuvent être des fonctions</li>
								<li class="fragment">Les variables d'un controlleur sont contenue dans son $scope</li>
								<li class="fragment">Le $scope permet l'étanchéité des variables au sein du controlleur</li>
							</ul>
							<pre class="fragment"><code contenteditable style="font-size: 18px; margin-top: 20px;">&lt;html ng-app="myDemo2"&gt;
&lt;head&gt;
  &lt;script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"&gt;&lt;/script&gt;
  &lt;script type="text/javascript"&gt;
  var myApp = angular.module('myDemo2', []);
  myApp.controller('MyCtrl', function MyCtrl($scope) {
    $scope.reponse = 42;
  });
  &lt;/script&gt;
&lt;/head&gt;
&lt;body ng-controller="MyCtrl"&gt;
  Réponse : {{ reponse }}
&lt;/body&gt;
&lt;/html&gt;</code></pre>
							<p class="fragment"><a href="demos/demo2/index.html" target="_blank">Démonstration</a></p>
						</section>
						<section>
							<h2>Répéteur</h2>
							<ul>
								<li class="fragment">ng-repeat permet d'itérer sur une liste (ie. foreach)</li>
							</ul>
							<pre class="fragment"><code contenteditable style="font-size: 18px; margin-top: 20px;">&lt;html ng-app="myApp"&gt;
&lt;head&gt;
  &lt;script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"&gt;&lt;/script&gt;
  &lt;script type="text/javascript"&gt;
  var myApp = angular.module('myApp', []);
  myApp.controller('MyCtrl', function MyCtrl($scope) {
    $scope.elems = [0,1,1,2,3,5,8,13];
  });
  &lt;/script&gt;
&lt;/head&gt;
&lt;body ng-controller="MyCtrl"&gt;
  {{elems.length}} premiers éléments de la suite de Fibonacci :
  &lt;ul&gt;&lt;li ng-repeat="elem in elems track by $index"&gt;{{elem}}&lt;/li&gt;&lt;/ul&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
							<p class="fragment"><a href="demos/demo3/index.html" target="_blank">Démonstration</a></p>
						</section>
						<section>
							<h2>Filtres 1/3</h2>
							<ul>
								<li>Permet de modifier le rendu d'une valeur</li>
								<li class="fragment">Peut s'appliquer sur des listes</li>
								<li class="fragment">Exemple de filtres :
									<ul>
										<li>filter</li>
										<li>orderBy</li>
										<li>limitTo</li>
										<li>date</li>
										<li>currency</li>
										<li>json</li>
										<li>lowercase</li>
										<li>uppercase</li>
										<li>number</li>
									</ul>
								</li>
							</ul>
						</section>
						<section>
							<h2>Filtres 2/3</h2>
							<pre><code contenteditable style="font-size: 18px; margin-top: 20px;">&lt;html ng-app="myApp"&gt;
&lt;head&gt;
  &lt;script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"&gt;&lt;/script&gt;
  &lt;script type="text/javascript"&gt;
  var myApp = angular.module('myApp', []);
  myApp.controller('MyCtrl', function MyCtrl($scope) {
    $scope.technos = ['JavaScript', 'HTML', 'CSS', 'Java'];
  });
  &lt;/script&gt;
&lt;/head&gt;
&lt;body ng-controller="MyCtrl"&gt;
  Technologies :
  &lt;ul&gt;&lt;li ng-repeat="techno in technos"&gt;{{techno}}&lt;/li&gt;&lt;/ul&gt;
  Technologies Java* :
  &lt;ul&gt;&lt;li ng-repeat="techno in technos | filter:'Java'"&gt;{{techno}}&lt;/li&gt;&lt;/ul&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
<p class="fragment"><a href="demos/demo4/index.html" target="_blank">Démonstration</a></p>
						</section>
						<section>
							<h2>Filtres 3/3</h2>
							<ul>
								<li>Possibilité de créer ses propres filtres</li>
								<li class="fragment">Permet de factoriser un comportement</li>
							</ul>
							<pre class="fragment"><code contenteditable style="font-size: 18px; margin-top: 20px;">&lt;html ng-app="myApp"&gt;
&lt;head&gt;
  &lt;script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"&gt;&lt;/script&gt;
  &lt;script type="text/javascript"&gt;
  angular.module('filters', []).filter('truncate', function () {
        return function (text,length) {
          return (text.length<=length)?text:(String(text).substring(0,length)+'...');
        };
    });
  var myApp = angular.module('myApp', ['filters']);
  myApp.controller('MyCtrl', function MyCtrl($scope) {
    $scope.blah = 'blah blah blah blah blah blah blah blah blah';
  });
  &lt;/script&gt;
&lt;/head&gt;
&lt;body ng-controller="MyCtrl"&gt;
  &lt;table&gt;
    &lt;tr&gt;&lt;td&gt;Avant filtre&lt;/td&gt;&lt;td&gt;{{blah}}&lt;td/&gt;&lt;/tr&gt;
    &lt;tr&gt;&lt;td&gt;Après filtre de taille 18&lt;/td&gt;&lt;td&gt;{{blah|truncate:18}}&lt;td/&gt;&lt;/tr&gt;
  &lt;/table&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
					<p class="fragment"><a href="demos/demo5/index.html" target="_blank">Démonstration</a></p>
				</section>
				<section>
					<h2>Binding bidirectionnel 1/3</h2>
					<ul>
						<li class="fragment">Vue vers Modèle : Certains composants permettent de modifier le modèle à partir de la vue</li>
						<li class="fragment">Modèle vers Vue : Toute modification du modèle entraine la modification de la vue associée</li>
						<li class="fragment">AngularJS est assez intelligent pour savoir quels composants de la sont affectés par la modification d'un modèle donné</li>
						<li class="fragment">Chaque mise à jour de la vue à partir du modèle s'appelle un digest</li>
						<li class="fragment">AngularJS optimise le digest pour le rendre très perfomant, voir instantané</li>
					</ul>
				</section>
				<section>
					<h2>Binding bidirectionnel 2/3</h2>
					<p class="fragment"><img src="img/one-way.png"/></p>
					<p class="fragment"><img src="img/two-way.png"/></p>
				</section>
				<section>
					<h2>Binding bidirectionnel 3/3</h2>
					<pre><code contenteditable style="font-size: 18px; margin-top: 20px;">&lt;html ng-app="myApp"&gt;
&lt;head&gt;
  &lt;script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"&gt;&lt;/script&gt;
  &lt;script type="text/javascript"&gt;
  var myApp = angular.module('myApp', []);
  myApp.controller('MyCtrl', function MyCtrl($scope) {
    $scope.nom = 'le monde';
  });
  &lt;/script&gt;
&lt;/head&gt;
&lt;body ng-controller="MyCtrl"&gt;
  Bonjour &lt;input ng-model="nom"/&gt;&lt;br/&gt;
  Comment ça va, {{nom}} ?
&lt;/body&gt;
&lt;/html&gt;</code></pre>
					<p class="fragment"><a href="demos/demo6/index.html" target="_blank">Démonstration</a></p>
				</section>
				<section>
					<h2>Resources</h2>
					<ul>
						<li class="fragment">Angular gère nativement le REST</li>
						<li class="fragment">Il est possible d'effectuer n'importe quelle requête HTTP</li>
						<li class="fragment">Définir une <u>vraie</u> resource HTTP avec paramétrage de l'URI (ie. <i>/user/:id</i> ou <i>/post/:name</i>)</li>
						<li class="fragment"><pre><code contenteditable style="font-size: 18px; margin-top: 20px;">&lt;html ng-app="myDemo7"&gt;
&lt;head&gt;
  &lt;script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"&gt;&lt;/script&gt;
  &lt;script type="text/javascript"&gt;
var myApp = angular.module('myDemo7', ['ngResource']);
myApp.factory('AngularJsIssues', function($resource){
  return $resource('https://api.github.com/repos/angular/angular.js/issues');
});
myApp.controller('MyCtrl', function MyCtrl($scope,AngularJsIssues) {
  $scope.issues = AngularJsIssues.query();
});
  &lt;/script&gt;
&lt;/head&gt;
&lt;body ng-controller="MyCtrl"&gt;
  &lt;table&gt;
    &lt;tr&gt;
      &lt;th&gt;Id&lt;/th&gt;
      &lt;th&gt;State&lt;/th&gt;
      &lt;th&gt;Title&lt;/th&gt;
    &lt;/tr&gt;
    &lt;tr ng-repeat="issue in issues"&gt;
      &lt;td ng-bind="issue.id"&gt;&lt;/td&gt;
      &lt;td ng-bind="issue.state"&gt;&lt;/td&gt;
      &lt;td ng-bind="issue.title"&gt;&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/table&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre></li>
				</ul>
				<p class="fragment"><a href="demos/demo7/index.html" target="_blank">Démonstration</a></p>
			</section>
			<section>
				<h1>Utilisation d'AngularJS</h1>
				<h2>Tests</h2>
			</section>
			<section>
				<h2>Introduction</h2>
				<ul>
					<li>Quoi ? des tests automatisés en JavaScript ??</li>
					<li class="fragment">Tests unitaires et tests bout en bout (E2E)</li>
					<li class="fragment">Lancement des tests avec <img width="150px" class="no-shadow inline" src="img/karma.png"/></li>
					<li class="fragment">Les tests peuvent être lancés sur plusieurs navigateurs</li>
					<li class="fragment">Karma peut aussi faire les tests sur un port (ie. mobile ouvert sur un port d'écoute)</li>
				</ul>
			</section>
			<section>
				<h2>Exemple</h2>
				<ul>
					<li>Unit tests : Test d'un module</li>
					<li>End-to-end tests : Test de plusieurs modules</li>
					<li>Les interfaces peuvent être bouchonnées (voir angular.mock.inject)</li>
					<li>Tous les examples de cette présentation ont leur test</li>
				</ul>
				<pre><code contenteditable style="font-size: 18px; margin-top: 20px;">'use strict';
describe('myDemo1', function(){
  var curModule;
  beforeEach(curModule = module('myDemo1'));
  describe('myDemo1 module', function(){
    it('should have a module', function() {
      expect(curModule).not.toBeNull();
    });
  });
  describe('Controller', function(){
    var scope, ctrl;
    beforeEach(inject(function($rootScope, $controller) {
      scope = $rootScope.$new();
      ctrl = $controller('MyCtrl', {$scope: scope});
    }));
    it('should have a controller', function() {
      expect(ctrl).not.toBeNull();
    });
  });
});</code></pre>
</section>
<section>
	<h1>Utilisation d'AngularJS</h1>
	<h2>Fonctions avancées</h2>
</section>
<section>
	<h2>Injection de dépendances</h2>
	<ul>
		<li>Permet l'inversion de contrôle</li>
		<li class="fragment">Fonctionne par module</li>
		<li class="fragment">Un module peut dépendre d'autres modules</li>
		<li class="fragment">Il est alors possible de faire appel aux méthodes de ces modules</li>
		<li class="fragment">Permet la séparation de considérations</li>
		<li class="fragment">Code testable unitairement (un module représente une fonctionnalité et les autres modules peuvent être mockés)</li>
	</ul>
</section>
<section>
	<h2>Directives 1/2</h2>
	<ul>
		<li>Utiliser des nouveaux tags</li>
		<li class="fragment">Utiliser des nouveaux attributs</li>
		<pre class="fragment"><code contenteditable style="font-size: 18px; margin-top: 20px; width: 30em">&lt;alert&gt;Alerte !&lt;/alert&gt;
&lt;datepicker min="minDate" show-weeks="showWeeks"/&gt;
		</code></pre>
	</ul>
</section>
<section>
	<h2>Directives 2/2</h2>
	<ul>
		<li>Possibilité de créer ses directives</li>
		<li class="fragment">Comme si on réécrivait du HTML</li>
		<li class="fragment">Peut être "compilé"</li>
		<pre class="fragment"><code contenteditable style="font-size: 18px; margin-top: 20px; width: 37em;">&lt;twitter-tweet-page/&gt;
&lt;google-plus-page/&gt;
&lt;facebook-like-page/&gt;
&lt;twitter-direct-message user="@thebignet"/&gt;
&lt;twitter-followers user="@thebignet"/&gt;
&lt;github-last-commit user="thebignet" project="pres-angularjs"/&gt;
		</code></pre>
	</ul>
</section>
<section>
	<h2>router</h2>
	<ul>
		<li>Permet de lier à une URI une vue et un controlleur</li>
		<li class="fragment">/users affiche la vue imbriquée users.html avec le controlleur UserCtrl</li>
	</ul>
</section>
<section>
	<h2>ui-router</h2>
	<ul>
		<li>Meilleur que le routeur intégré à AngularJS</li>
		<li class="fragment">Permet de gérer des états plutôt que des URI</li>
		<li class="fragment">Plusieurs vues/controlleurs pour un URI</li>
		<li class="fragment">Vues imbriquées</li>
		<li class="fragment">Directive pour une navigation plus simple</li>
	</ul>
</section>
<section>
	<h2>Vues</h2>
	<ul>
		<li>Avec le routeur intégré à AngularJS</li>
	</ul>
	<pre class="fragment"><code contenteditable style="font-size: 18px; margin-top: 20px;">myApp.config(['$routeProvider',
function($routeProvider) {
  $routeProvider
    .when('/users', { templateUrl: 'users.html', controller: 'UserCtrl' })
    .otherwise({ redirectTo: '/' });
}]);</code></pre>
	<pre class="fragment"><code contenteditable style="font-size: 18px; margin-top: 20px;">&lt;div ng-view&gt;&lt;/div&gt;</code></pre>
</section>
<section>
	<h2>Vues</h2>
	<ul>
		<li>Avec ui-router</li>
	</ul>
	<pre class="fragment"><code contenteditable style="font-size: 18px; margin-top: 20px;">myApp.config(function($stateProvider, $urlRouterProvider) {
$urlRouterProvider.otherwise("/");
$stateProvider.state('users', { url: "/users", templateUrl: "users.html" })
});</code></pre>
	<pre class="fragment"><code contenteditable style="font-size: 18px; margin-top: 20px;">&lt;div ui-view&gt;&lt;/div&gt;</code></pre>
</section>
<section>
	<h2>Animations</h2>
	<ul>
		<li class="fragment">Basé sur des évènements liés à des directives</li>
		<li class="fragment">Suite à l'ajout/suppression d'un élément à une liste</li>
		<li class="fragment">Suite à la modification d'une valeur</li>
		<li class="fragment">AngularJS applique des classes CSS spécifique avant et pendant l'action</li>
		<li class="fragment">Toutes les transitions CSS3 sont utilisables</li>
	</ul>
</section>
<section>
	<h2>jQuery</h2>
	<ul>
		<li>Version allégée de jQuery inclue dans AngularJS</li>
		<li class="fragment">Peut être surchargée par la version complète</li>
		<li class="fragment">La version alléegée ne contient pas les sélecteur css et <span style="text-decoration:underline">c'est pour votre bien</span> car ce n'est pas la philosophie d'AngularJS</li>
	</ul>
</section>
<section>
	<h2>Bons amis d'AngularJS</h2>
	<img width="250px" class="no-shadow" src="img/grunt-logo.png" alt="Grunt">
	<img width="250px" class="no-shadow" src="img/bower-logo.png" alt="Bower">
	<img width="250px" class="no-shadow" src="img/yeoman-logo.png" alt="Yeoman">
</section>
<section>
	<h2>Intégration continue</h2>
	<ul>
		<li>Les tests peuvent être exécutés sur plusieurs navigateurs à chaque sauvegarde en local ou à chaque commit</li>
		<li class="fragment">Karma peut être lancé par Jenkins, Sonar, ou Travis</li>
		<li class="fragment">Les rapports produits sont au format Junit</li>
	</ul>
	<div class="fragment">
		<img width="250px" class="no-shadow" src="img/travis-logo.png" alt="Travis">
		<img width="250px" class="no-shadow" src="img/jenkins-logo.png" alt="Jenkins">
		<img width="250px" class="no-shadow" src="img/sonar-logo.png" alt="Sonar">
	</div>
</section>
<section>
	<h2>Pour monter un projet rapidement</h2>
	<ul>
		<li>Angular-seed</li>
		<li class="fragment">Framework CSS : Twitter Bootstrap, Foundation</li>
		<li class="fragment">Utiliser Yeoman avec generator-angular ou generator-jhipster</li>
	</ul>
</section>
<section>
	<h2>Hébergement</h2>
	<ul>
		<li class="fragment">Le serveur peut héberger les resources front et fournir l'API</li>
		<li class="fragment">Possibilité d'avoir un serveur statique pour le front et une API pour le back</li>
		<li class="fragment">Plus de flexibilité quant à la charge reposant sur chacun</li>
		<li class="fragment">Les serveurs frontaux peuvent mettre les resources en cache efficacement</li>
		<li class="fragment">Les serveurs d'API peuvent être dimensionnés</li>
		<li class="fragment">Ce découpage se prête plus facilement à un cloud</li>
	</ul>
</section>
<section>
	<h2>Questions ?</h2>
	<ul>
		<li><img class="no-shadow inline" src="img/twitter-logo.png" style="height:1em"/> <a href="https://twitter.com/thebignet">@thebignet</a></li>
		<li><img class="no-shadow inline" src="img/googleplus-logo.png" style="height:1em"/> <a href="https://plus.google.com/+JeanDetoeuf">thebignet</a></li>
		<li>
			<div>
				<img class="no-shadow inline" src="img/github-logo.png" style="height:1em"/> <a href="https://github.com/thebignet">thebignet</a>
			</div>
		</li>
		<li>Cette présentation : <a href="https://github.com/thebignet/talk-angularjs-introduction">talk-angularjs-introduction</a></li>
	</ul>
</section>
</div>
		</div>
		<div style="position: absolute; bottom: 10px; left: 100%; margin-left: -120px">
			<img src="img/opengroupe.gif" width="100px">
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: false,
				progress: true,
				history: true,
				center: true,
				touch: true,

			    theme: 'sky', // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Parallax scrolling
				// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				// parallaxBackgroundSize: '2100px 900px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
